main {
    padding: 20px 150px;

    background-color: hsl(135, 40%, 83%);

    justify-items: center;
    align-items: center;
    gap: 25px;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "h1 h1"
        "img-j m-img"
        "img-j desc"
        "plantas plantas"
        "zumbis zumbis";
}

h1 {
    color: var(--texto-destaque);
    font-size: 3.5rem;
}

.img-jogo {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top left;

    border-radius: 12px;
}

.descricao {
    padding: 10px;

    border: 10px groove hsl(235, 22%, 50%);
    border-radius: 6px;

    background-color: #414467;

    color: hsl(141, 77%, 50%);
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.5;
    text-shadow: 2px 2px 5px black;
}

.lista-personagens {
    width: 100%;
    gap: 20px 50px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
}

.lista-personagens h2 {
    text-align: center;
    font-size: 2rem;

    grid-column: 1 / -1;
}

.personagem {
    width: 100%;
    border-radius: 45px;

    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.planta {
    border: 10px groove hsl(20, 68%, 34%);
    background-color: #6a3010;
}

.zumbi {
    border: 10px groove hsl(236, 16%, 41%);
    background-color: #414467;
}